<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.admin.PermissionInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mall.entity.admin.PermissionInfo">
        <id column="id" property="id" />
        <result column="permission_name" property="permissionName" />
        <result column="description" property="description" />
        <result column="auth_value" property="authValue" />
        <result column="menu_url" property="menuUrl" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="parent_id" property="parentId" />
        <result column="menu_level" property="menuLevel" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, permission_name AS permissionName, description, auth_value AS authValue, menu_url AS menuUrl, create_time AS createTime, status, parent_id AS parentId, menu_level AS menuLevel, sort
    </sql>

</mapper>
